.categoryProduct {
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;

    .productList {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      a:link {
        text-decoration: none;
        color: black;

        &:nth-child(3n + 2) {
          margin: 0 28px;
        }
      }

      a:visited {
        text-decoration: none;
        color: black;
      }
    }

    .paginationGroup {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      button {
        background-color: white;
        border: none;
        font-size: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      .pageNumber {
        &:focus {
          color: blue;
        }
      }

      .clickedPageNumber {
        color: blue;
      }
    }
  }
}
